.menu {
    display: flex;
    background-color: rgb(169, 249, 255);
    padding: 20px;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
}

.menu-item{
    display: flex;
    text-align: center;
    padding: 10px;
    width: fit-content;
}

.menu-item-right {
    display: flex;
    position: relative;
    text-align: center;
    padding: 10px;
    width: fit-content;
    margin-right: 0px;
    right: 0px;
}

.active {
    background-color: aliceblue;
}

.register {
    height:200px;
    width: 100vw;
}

.login {
    height:200px;
    width: 100vw;
}

.searchbar {
    display: flex;
    text-align: center;
    padding: 10px;
    width: fit-content;
    position: relative; 
    margin-left: 0px;
}

.load-more-button {
    position: relative; 
    margin-left: -50px;
    left: 50%;
    width: 100px;
    height: 40px;
    bottom: 0px;
}