.App {
  display: flex;
  margin-right: 0;
}

.Menu-bar {
  display: flex;
  border-bottom: 4px solid grey;
  border-top: 4px solid grey;
}

.Listings {
  margin-left: 20px;
}

.Listing-button {
  display: flex;
  position: sticky;
  align-self: center;
  width: auto;
  margin-top: 132px;
  margin-left: 90px;
}
