.App {
  display: flex;
  margin-right: 0;
}

.Menu-bar {
  display: flex;
  border-bottom: 4px solid grey;
  border-top: 4px solid grey;
}

.Listings {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.Listing-button {
  display: flex;
  position: absolute;
  align-self: center;
  width: auto;
  margin-left: 90px;
  bottom: 10px
}

.Add-cart-button {
  display: inline;
  position: absolute;
  margin-left: 92px;
  bottom: 10px;
}

.Cart-buttons {
  display: inline;
  height: 30px;
  margin-left: 10px;
  margin-right: 58px;
}

.Listing-parent {
  width: '270px';
  height: '240px';
}

.Edit-listing {
  display: inline;
  position: absolute;
  margin-left: 6px;
  bottom: 10px;
}

.Label {
  text-align: center;
  margin-bottom: 10px;
}

#wrapper { 
  position: relative; 
  width: 960px; 
}
